{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<img src='/static/top-banner.jpg'>
<h1 align='center'>Delete Item</h1>
	  
<h2>Delete item:</h2>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;{{item.title}}</h3>
<br/>
<h5> Are you sure you want to delete? </h5>
<br/>
<form action="#" method = 'post'>

	<button class="btn btn-default delete" name="submit" value="delete"  type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<a href = '{{ url_for('showCatalog') }}'>
		<button class="btn btn-default delete" name="submit" value="cancel"  type="submit" >
		<span class="glyphicon glyphicon-remove" aria-hidden="true" name="cancel"></span> Cancel</button>
	</a>

</form>

{% endblock %}
