{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<img src='/static/top-banner.jpg'>
<h1 align='center'>List of Items</h1>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			  
			<ul>
				
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			{% for item in items %}
				<a href = "{{ url_for('itemlistJSON', item_id=item.id) }}" ><h3>{{ item.title }}</a><br/>
			{% endfor %}
		</div>
	</div>
{% endblock %}

