{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<img src='/static/top-banner.jpg'>
<h1 align='center'>New Category</h1>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			  
			<ul>
				
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="80" class="form-control" name="name" placeholder="Name of the catelog" required>
					
					<br/>

					<button name="submit" value="create" type="submit">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" id="create"></span>Create</button>
					<button name="submit" value="cancel" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" id="cancel"></span>Cancel</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

