{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<img src='/static/top-banner.jpg'>
<h1 align='center'>{{ category_name }} Category</h1>

<style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 400px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
</style>    

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
            
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

</div>


<div class = 'pane'>


<div class="row">
    <div class="column">
		<h2>Categories</h2>

		{% for category in categories %}
        <div>
            <p><a href = "{{ url_for('showCatalogItems', category_name=category.name, items=items) }}" >{{ category.name }}</a></p>
        </div>
        {% endfor %}
    </div>

    <div class="column">
        <br/>
        <h2>{{ category_name }} items ({{ count }} items)</h2>
        {% for item in items %}
        <div>
          <a href = "{{ url_for('showItemDescription', category_name=item.category.name, item_name=item.title) }}"><span>{{ item.title }}</span></a>

          <br/><br/>
        </div>
        {% endfor %}
    </div>
  </div> 
</div>

{% endblock %}
